$primary : #525254;
$secondary : hsl(225, 70%, 60%);
$info : #52d0e0;
$danger : #ec1616;
// $primary: #6f8f25;
// $secondary: #d6a54a;
$success: #3e8d63;
// $info: #13101c;
$warning: #945707;
// $danger: #d62518;
// $light: #f8f9fa;
// $dark: #343a40;
$white : #ffffff;

//nav link color 
$border-color:#dee2e6;
$nav-link-color :  $white;
$nav-link-active-color : $white;
$nav-link-hover-color : $white;
$input-border-color:$border-color;
$input-focus-border-color:$primary;
$input-border-color:$border-color;

