$primary : #525254;
$secondary : #5275e0;
$info : #52d0e0;
$danger : #ec1616;
$success: #3e8d63;
$warning: #945707;
$light: #f8f9fa;
$dark: #343a40;
$white : #ffffff;

//nav link color 
$border-color:#dee2e6;
$nav-link-color :  $white;
$nav-link-active-color : $white;
$nav-link-hover-color : $white;
$input-border-color:$border-color;
$input-focus-border-color:$primary;
$input-border-color:$border-color;

