html,body{
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
}

.cursor-pointer {
    cursor: pointer;
}

.cart-icons{
    top: 10px;
    right: 10px;
    font-size: 1.125rem;
    .icon-cart.added{
        color: $danger;
    }
}