html,body{
    height: 100%;
    width: 100%;
    font-family: $font-family-base;
}

.cursor-pointer {
    cursor: pointer;
}

.cart-icons{
    top: 10px;
    right: 10px;
    font-size: 1.125rem;
    .icon-cart.added{
        color: $danger;
    }
}
.header{
    position: sticky;
    top:0;
    z-index: 999;
    .user-profile{
        height: 40px;
        width: 40px;
    }
    .cart-items-count {
        top: 0;
        right: 0px;
        height: 20px;
        width: 20px;
        font-size: 14px;
    }
}
.wrapper {
    background-image: url("~@/assets/product-images/background-image.jpg");
    background-size: cover;
}
.registration-form-container {
    right:200px;
    top:100px;
    height: fit-content;
}

//user-menu
.user-container {
    white-space: nowrap;
    z-index: 99;
    top: 70px;
    left: -52px;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    &.expand {
        height: 400%;
    }
    .nav-link {
        padding: 0.5rem 2rem !important;
        &:hover {
            background-color: $secondary;
        }
    }
}
