$font-family-base:'Montserrat', sans-serif;

$nav-link-padding-x : 0.5rem;
$nav-link-padding-y : 0.5rem;

//forms input varibles
$input-btn-padding-y:0.5rem;
$input-btn-padding-x:0.75rem;

$input-btn-border-width:1px;
$input-btn-focus-box-shadow:none;

$input-group-addon-bg:$white;
$input-group-addon-padding-x:0.5rem;
$input-border-radius:0;
$btn-border-radius:$input-border-radius;
$btn-padding-x :2rem;

//button sccs
$btn-focus-width:0px;