@font-face {
  font-family: 'font-icons';
  src:  url('fonts/font-icons.eot?7act71');
  src:  url('fonts/font-icons.eot?7act71#iefix') format('embedded-opentype'),
    url('fonts/font-icons.ttf?7act71') format('truetype'),
    url('fonts/font-icons.woff?7act71') format('woff'),
    url('fonts/font-icons.svg?7act71#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Right:before {
  content: "\e983";
  color: #4baf89;
}
.icon-Send-Note:before {
  content: "\e98a";
  color: #e97200;
}
.icon-bell-active .path1:before {
  content: "\e901";
  color: rgb(30, 36, 48);
}
.icon-bell-active .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(233, 114, 0);
}
.icon-bell-active .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-search:before {
  content: "\e909";
}
.icon-calender:before {
  content: "\e925";
}
.icon-download:before {
  content: "\e929";
}
.icon-upload:before {
  content: "\e930";
}
.icon-delete:before {
  content: "\e910";
}
.icon-edit:before {
  content: "\e911";
}
.icon-setting:before {
  content: "\e90b";
}
.icon-bell:before {
  content: "\e90c";
}
.icon-sort-down:before {
  content: "\e90e";
}
.icon-sort-up:before {
  content: "\e90f";
}
.icon-tick:before {
  content: "\e924";
}
.icon-info-fill:before {
  content: "\e928";
}
.icon-copy:before {
  content: "\e92a";
}
.icon-tick-fill:before {
  content: "\e934";
}
.icon-cart:before {
  content: "\e937";
}
.icon-eye:before {
  content: "\e940";
}
.icon-heart1:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e900";
}
