$icomoon-font-family: "font-icons" !default;
$icomoon-font-path: "~@/assets/font-icons/fonts" !default;

$icon-Right: "\e983";
$icon-Send-Note: "\e98a";
$icon-bell-active-path1: "\e901";
$icon-bell-active-path2: "\e902";
$icon-bell-active-path3: "\e903";
$icon-search: "\e909";
$icon-calender: "\e925";
$icon-download: "\e929";
$icon-upload: "\e930";
$icon-delete: "\e910";
$icon-edit: "\e911";
$icon-setting: "\e90b";
$icon-bell: "\e90c";
$icon-sort-down: "\e90e";
$icon-sort-up: "\e90f";
$icon-tick: "\e924";
$icon-info-fill: "\e928";
$icon-copy: "\e92a";
$icon-tick-fill: "\e934";
$icon-cart: "\e937";
$icon-eye: "\e940";
$icon-heart1: "\e904";
$icon-heart: "\e900";

